<h1 class="list-title">{{titulo}}</h1>

<ul class="restaurantes-list">
    <li *ngIf="loading" id="loading-list" class="loading-list"><img src="../../assets/images/loading.gif"/></li>
    <li *ngFor="#restaurante of restaurantes" class="restaurantes-list__restaurante">
        <div class="restaurante__image"></div>
        <div class="restaurante__data">
            <h4 class="restaurante__title">{{restaurante.nombre}}</h4>
            <p class="restaurante__direccion">{{restaurante.direccion}}</p>
            <p>
                <a href="" class="btn btn--ver">Ver</a>
                <a href="" class="btn btn--editar">Editar</a>
                <a href="" class="btn btn--eliminar">Eliminar</a>
            </p>
        </div>
    </li>

</ul>