<div *ngIf="restaurante" class="restaurante">
    <h1 class="restaurante__nombre">{{restaurante.nombre}}</h1>
    <p class="restaurante__imagen">
        <img src="{{restaurante.imagen}}">
    </p>
    	<p  class="restaurante__precio">
        <span  [ngSwitch]="restaurante.precio">
            <span *ngSwitchWhen="'Bajo'">Entre 2.50€ y 7€</span>
            <span *ngSwitchWhen="'Medio'">Entre 7€ y 15€</span>
            <span *ngSwitchWhen="'Alto'">Entre 15€ y 50€</span>
            <span *ngSwitchDefault>Precio desconocido</span>
        </span>
    </p>
	<p class="restaurante__direccion">{{restaurante.direccion}}</p>
	<p class="restaurante__descripcion">{{restaurante.descripcion}}</p>
	
</div>
<span class="loading" *ngIf="loading && error==null">
    <img src="../../assets/images/loading.gif"/>
</span>