body{
    font-family: Raleway, Helvetica, Arial, serif;
    background:url("/assets/images/background-pattern.jpg");
}

.restaurante__imagen img{
    width: 30%;
    height: 30%;
}
 .restaurante__title{
             font-size: 30px;
        line-height: 1;
        margin-top:25px;
         }
.imagen-subida{
    width: 202px;
    margin-bottom: 10px;
    height: 202px;
     border:1px solid black;
    float: left;
    background: #DDD;
    text-align: center;
    margin-top:10px;
    border-radius: 4px;
    
}
input[type="file"]{
    width: 50% !important;
    background-color: #DDD;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-top:90px !important;
    margin-right:50px;
    height: 55px !important;
    line-height: 49px !important;
}
.imagen-box{
    width: 100%;
    float: left;
}
.imagen-add-restaurante{
     width: 200px;
     border-radius: 4px;
     height: 200px;
    
}
.restaurante{
    word-wrap: break-word;
}
.restaurante__data{
    word-wrap: break-word;
    position: absolute;
    display: block;
    margin-left: 230px !important;
}

.loading-imagen{
    height: 50%;
    margin-top:50px;
    width: 50%;
}
.image-restaurante-list{
    width: 199px;
    height: 199px;
}
     .restaurante__direccion{
             line-height: 1.3;
             margin-bottom: 15px;
             margin-top: 15px;
         }
#content{
    width: 90%;
    background-color: white;
    margin:0 auto;
    display: block;
    margin-top:50px;
    overflow: auto;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
}

.header{
    padding:15px;
    background-color: #1976D2;
    min-height: 60px;
    }

.header__titulo{
    padding: 0px 15px;
    line-height: 30px;
    color:white;
    margin:0;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    float: left;
}

.header__logo{
    display: block;
    float:left;
    margin-top:-10px;
    width: 85px;
}

.loading{
    margin-left:0 auto;
    margin-right: 0 auto;
    margin-top:15px;
    display: block;
    text-align: center;
}

.main{
    padding:0px 15px;
    margin-top: 30px;
    color:#444;
}

.list-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color:lightgrey;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.restaurantes-list{
    margin-top:10px;
    width: 100%;
    margin: auto;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;

}

.restaurantes-list__restaurante{
    width: 48%;
    overflow:hidden;
    margin:10px;
    border:1px solid #DDD;
    border-radius: 4px;
    height: 201px;
    float: left;
    padding: 0px 0px;
    margin-top:10px;
    color:gray;
}


.restaurante__image{
    height: 199px;
    width: 200px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #CCC;
    float: left;
}

.restaurante__data{
    float: left;
    line-height: 70px;
    height: 100px;
    margin-left: 20px;
}

.restaurante__title{
    color:#444;
    font-weight: bold;
    font-size: 35px;
}
.error404{
    text-align: center;
}
.error404 img{
    width: 30%;
}
.error__p{
    font-size: 40px;
    font-weight: bold;
}
.btn{
    font-size: 20px;
    border:1px solid #1976D2;
    box-shadow: 0px 0px 5px #DDD;
    padding: 0px 15px;
    height: 35px;
    line-height: 32px;
    text-decoration: none;
    cursor: pointer;
    margin:2px;
    color:white;
    background: #0074d9;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
}

.btn:hover{
    background-color:#0095ff;
    border-color: #0095ff;
}
.btn:disabled{
    cursor: help;
    background-color: lightgrey;
    border-color: lightgrey;
}
.btn--editar{
    background: #0A0;
    border-color: #59a600;
}
.btn--editar:hover{
    background: #00cb00;
    border-color: #00cb00;
}
.btn--eliminar{
    background: #E23237;
    border-color: #F54747;
}
.btn--eliminar:hover{
    background: red;
    border-color: #F54747;
}
.restaurante__direccion{
    font-size: 22px;
    width: 80%;
}
.restaurantes-list__loading img{
    width: 50px;
    margin-left: auto;
}

.restaurantes-list__error{
    color:red;
    font-weight: bold;
    font-size: 25px;
}

.restaurante{
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.restaurante__nombre{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    
}
.restaurante__precio{
    color:darkgreen;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: yellowgreen;
    box-shadow: 0px 2px 5px green; 
    padding:5px;
    display: inline-block;
    text-align: center;
}
.restaurante__descripcion{
    color:grey;
    margin-bottom: 10px;
}
@keyframes confirmdeleteanim{
    from{opacity: 0}
    to{opacity: 1}
}
.seguro{
    float:left;
    padding: 20px;
    animation-name: confirmdeleteanim;
    animation-duration: 0.5s;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 4px;
}
.seguro p{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
.seguro , .btn{
    box-shadow: none;
}
.seguro .btn + .btn{
    margin-left:10px; 
}

#nav {
    width:100%;
    background:#004c96;
    font-size: 20px;
    border-bottom: 1px solid #1976D2;
    padding-right: 20px;
    height: 35px;

   
}

#nav li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
#nav  a{
    text-decoration: none;
     color:white;
     height: 35px;

}

@keyframes menuhover{
    from{background-color:#004c96;}
    to{ background-color:#1976D2;}
}
#nav li:hover{
  background-color:#1976D2;
  animation-name: menuhover;
  animation-duration:300ms;
}

select.ng-invalid, textarea.ng-invalid, input.ng-invalid{
    border:1px solid red;

}

select.ng-valid, textarea.ng-valid, input.ng-valid{
    border:1px solid green;
     box-shadow: 0px 0px 3px green;
}

.invalido{
    color:red;
    font-size: 14px;
}

.invalido:before{
    content:'\f00d';
    margin-right: 5px;
    font-family: FontAwesome;
}
.valido{
    color:green;
    font-size: 12px;
    margin-right: 5px;
}

.crear-restaurante{
    width: 90%;
    display: block;
        margin: 0 auto;
}

.crear-restaurante label{
    font-size: 20px;
    font-weight: bold;
}

.crear-restaurante input, textarea, select {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    display: block;
    float: left;
    border-radius: 4px;
    margin-bottom: 10px;
}

.crear-restaurante textarea{
    height: 80px;
}

.crear-restaurante__titulo{
   text-align: center;
    font-size: 20px;
    color:lightgrey;
    
    text-transform: uppercase;
    letter-spacing: 20px;
}


/*
    MEDIA QUERYS
 */

 @media (max-width: 1366px) { 
    
           .restaurantes-list__restaurante{
        width: 100%;
        margin:0;
        margin-bottom:10px;
        margin-top:10px;
    }
}


 @media (max-width: 768px) { 
    #content{
        width: 100%;
        margin:0;
    }
    .restaurantes-list__restaurante{
        width: 100%;
        margin:0;
        margin-bottom:10px;
        margin-top:10px;
    }
}
@media only screen and (min-width:649px) and (max-width:820px){
        #nav {
            text-align: center;
            background:#004c96;
            font-size: 18px;
            border-bottom: 1px solid #1976D2;
            padding-right: 0px;
            width: 100%;
            height: 100%;
        }
           .restaurantes-list__restaurante{
        width: 100%;
        margin:0;
        margin-bottom:10px;
        margin-top:10px;
    }
             input[type="file"]{
    width: 100% !important;
    margin-left: 0px !important;
    margin-top:0px !important;
}
}
     @media (max-width: 680px) { 
         body{
             margin:0;
         }
         input[type="file"]{
    width: 100% !important;
    margin-left: 0px !important;
    margin-top:0px !important;
}
         #content{
             width: 100%;
             margin:0;
         }

         .restaurantes-list__restaurante{
             margin:0;
             height: 110%;
             margin-bottom: 10px;
            
             margin-top:10px;
         }
         .restaurante__image{
             width: 100%;
             
             opacity: 0.3;
         }
         .image-restaurante-list{
    width: 100%;
   
}
         .restaurante__data{
             width: 80%;
             overflow: visible !important;
             position: absolute;
             word-wrap: break-word;
             margin-left: 20px !important;
             
         }
         .restaurante__title{
             font-size: 30px;
        
         }

         .restaurante__direccion{
             font-size: 18px;
             color:black;
         }

         .btn{
             line-height: 22px;
             height: 30px;
             padding: 5px;
             margin-right: 5px;
             font-size: 14px;
         }
        .list-title ,h1.crear-restaurante__titulo{
            font-size: 18px !important;
            letter-spacing: 10px;        
        }
        .header__titulo{
            font-size: 40px;
            text-align: center;
            margin: 0;
            width: 100%;
        }
        .header{
            text-align: center;
            height: 140px;
        }
        .header__logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            float:none;
        }
        #nav {
            text-align: center;
            background:#004c96;
            font-size: 22px;
            border-bottom: 1px solid #1976D2;
            padding-right: 0px;
            width: 100%;
            height: 100%;
        }

        #nav li{
            display: block;
            cursor: pointer;
        }
        #nav  a{
            text-decoration: none;
            color:white;
            padding-bottom: 3px;
           
        }

     }