body{
    font-family: Raleway, Helvetica, Arial, serif;
}

#content{
    width: 90%;
    min-height: 500px;
    margin:0 auto;
    margin-top: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
}

.header{
    padding:15px;
    background-color: #1976D2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    }

.header__titulo{
    padding: 0px 15px;
    line-height: 30px;
    color:white;
    margin:0;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    float: left;
}

.header__logo{
    display: block;
    float:left;
    margin-top:-10px;
    width: 50px;
}

.loading{
    margin-left:0 auto;
    margin-right: 0 auto;
    padding-top:10%;
    display: block;
    text-align: center;
}

.main{
    padding:0px 15px;
    margin-top: 10px;
    color:#444;
}

.list-title{
    font-size: 20px;
    font-weight: bold;
}

.restaurantes-list{
    margin-top:10px;
    font-size: 18px;

}

.restaurantes-list__restaurante{
    width: 100%;
    border:1px solid #DDD;
    border-radius: 4px;
    height: 101px;
    line-height: 1.5;
    float: left;
    padding: 0px 0px;
    margin-top:10px;
    color:gray;
}

.restaurante__image{
    height: 99px;
    width: 100px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #CCC;
    float: left;
}

.restaurante__data{
    word-break: break-word;
    float: left;
    height: 100px;
    margin-left: 20px;
}

.restaurante__title{
    color:#444;
    font-weight: bold;
    font-size: 20px;
}

.btn{
    font-size: 13px;
    border:1px solid #1976D2;
    box-shadow: 0px 0px 5px #DDD;
    padding: 0px 5px;
    text-decoration: none;
    color:white;
    background: #0074d9;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    margin-top:14px;
}

.btn--editar{
    background: #0A0;
    border-color: #59a600;
}
.btn--eliminar{
    background: #E23237;
    border-color: #F54747;
}
.restaurante__direccion{
    font-size: 16px;
}

.restaurantes-list__loading img{
    width: 50px;
    margin-left: auto;
}

.restaurantes-list__error{
    color:red;
    font-weight: bold;
    font-size: 25px;
}

.restaurante{
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}

.restaurante__nombre{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.restaurante__precio{
    color:white;
    margin-bottom: 10px;
    background-color: yellowgreen;
    box-shadow: 1px 2px 10px green;
    padding:5px;
    text-align: center;
    width:200px;
}
.restaurante__descripcion{
    color:grey;
    margin-bottom: 10px;
}