body{
    font-family: Raleway, Helvetica, Arial, serif;
    background:url("/assets/images/background-pattern.jpg");
}

#content{
    width: 80%;
    background-color: white;
    margin:0 auto;
    display: block;
    margin-top:50px;
    overflow: auto;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
}

.header{
    padding:15px;
    background-color: #1976D2;
    min-height: 60px;
    }

.header__titulo{
    padding: 0px 15px;
    line-height: 30px;
    color:white;
    margin:0;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    float: left;
}

.header__logo{
    display: block;
    float:left;
    margin-top:-10px;
    width: 85px;
}

.loading{
    margin-left:0 auto;
    margin-right: 0 auto;
    margin-top:15px;
    display: block;
    text-align: center;
}

.main{
    padding:0px 15px;
    margin-top: 30px;
    color:#444;
}

.list-title{
    text-align: center;
    font-size: 20px;
    color:lightgrey;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.restaurantes-list{
    margin-top:10px;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;

}

.restaurantes-list__restaurante{
    width: 45%;
    margin: 15px;
    border:1px solid #DDD;
    border-radius: 4px;
    height: 201px;
    float: left;
    padding: 0px 0px;
    margin-top:10px;
    color:gray;
}

.restaurante__image{
    height: 199px;
    width: 200px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #CCC;
    float: left;
}

.restaurante__data{
    height: 100%;
    float: left;
    line-height: 70px;
    height: 100px;
    margin-left: 20px;
}

.restaurante__title{
    color:#444;
    font-weight: bold;
    font-size: 35px;
}

.btn{
    font-size: 20px;
    border:1px solid #1976D2;
    box-shadow: 0px 0px 5px #DDD;
    padding: 0px 15px;
    height: 35px;
    line-height: 32px;
    text-decoration: none;
    color:white;
    background: #0074d9;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
}

.btn--editar{
    background: #0A0;
    border-color: #59a600;
}
.btn--eliminar{
    background: #E23237;
    border-color: #F54747;
}
.restaurante__direccion{
    font-size: 22px;
}
.restaurantes-list__loading{
    width: 100%;
    text-align: center;
}
.restaurantes-list__loading img{
    width: 50px;
    margin-left: auto;
}

.restaurantes-list__error{
    color:red;
    font-weight: bold;
    font-size: 25px;
}

.restaurante{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.restaurante__nombre{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.restaurante__precio{
    color:darkgreen;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: yellowgreen;
    box-shadow: 0px 2px 5px green; 
    padding:5px;
    display: inline-block;
    text-align: center;
}
.restaurante__descripcion{
    color:grey;
    margin-bottom: 10px;
}

#nav {
    width:100%;
    background:#004c96;
    font-size: 20px;
    border-bottom: 1px solid #1976D2;
    padding-right: 20px;
    height: 35px;

   
}

#nav li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
#nav  a{
    text-decoration: none;
     color:white;
     height: 35px;

}

@keyframes menuhover{
    from{background-color:#004c96;}
    to{ background-color:#1976D2;}
}
#nav li:hover{
  background-color:#1976D2;
  animation-name: menuhover;
  animation-duration:300ms;
}
